# Prueba para ver que funcione el ignore
# No hay que subir: .dll, vcxprog.user, .vs, Temp, .exe, .pdb, .ilk

[Bb]in/*.dll
.vs/
*.exe
*.pbd
*.ilk
*.tlog
*.log
Dependencies/Ogre/Build
Dependencies/PhysX-4.1/Build
*.vcxprog.user
[Tt]emp/
[Ee]xes/*.dll
# ^^^ este no deberia tener que especificarse