# Prueba para ver que funciones el .gitignore
# No hay que subir: .dll, .vcxproj.user, .vs/, [Tt]emp/, .exe, .pdb, .ilk 

# configuración personal visual studio
.vs/

# /exes
*.exe
*.dll
*.lib
*.pbd
*.idb
[Ee]xes/

# /temp
*.ilk
*.obj
*.tlog
*.log
*.recipe
*.lastbuildstate
*.vcxproj.FileListAbsolute.txt
[Tt]emp/

# /pojects
*.vcxproj.user
Ogre.log

# /dependecies (ir añadiendo los directorios de bibliotecas nuevas)
/Dependencies/Ogre/Build
